.body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.navbar {
    background-color: #28a745;
}

.formulario {
    background-color: #28a745;
}

.colores {
    color: #ffffff;
}

.parrafo-verde {
    color: #28a745;
    font-family: 'Roboto';
}

.card-text {
    color: #707070;
}

.px-3 {
    color: #707070;
}

.texto2 {
    color: #707070;
}